<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Site</title>
    </head>

    <body>
        <div>
            <header>
                <h1>
                    <a href="/" >Blog Site</a>
                </h1>
                <nav>
                    <a href="/">Home</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/login">login</a>
                    <a href="/logout">logout</a>
                </nav>
            </header>

            <main>
                {{{body}}}
            </main>
            <footer>

            </footer>
        </div>
    </body>
</html>