{{#each blogposts as |blogpost| }}
<div class="card" style="width: 24rem; margin: 12px 12px 12px 12px">
    <div class="card-body">
        <h2 class="card-title">
            <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
        </h2>
        <h4 class="card-subtitle text-body-secondary">
            Created on {{format_date blogpost.createdAt}}
        </h4>
    </div>
</div>
{{/each}}