<div>
    {{!-- login --}}
    <div>
        <h2>login</h2>

        {{!-- form --}}
        <form class="login-form">
            <div>
                <label for="username-login">username:</label>
                <input type="text" id="username-login" />
            </div>
            <div>
                <label for="passowrd-login">passowrd:</label>
                <input type="password" id="password-login" />
            </div>
            {{!-- submit button --}}
            <div>
                <button type="submit">login</button>
            </div>
        </form>
    </div>
    
    {{!-- signup --}}
    <div>
        <h2>signup</h2>

        {{!-- form --}}
        <form class="signup-form">
            <div>
                <label for="username-signup">username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="passowrd-signup">passowrd:</label>
                <input type="password" id="password-signup" />
            </div>
            {{!-- submit button --}}
            <div>
                <button type="submit">signup</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>