<div style="margin-left: 12px;">
    {{!-- login --}}
    <div style="margin-top: 24px;">
        <h2>Login</h2>
        <form id="login-form">
            <div class="mb-3">
                <label for="username-login" class="form-label">Username</label>
                <input type="text" class="form-control" id="username-login" style="width: 360px">
            </div>
            <div class="mb-3">
                <label for="passowrd-login" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-login" style="width: 360px">
            </div>
            <button type="submit" class="btn btn-primary">login</button>
        </form>
    </div>
    
    {{!-- signup --}}
    <div style="margin-top: 24px">
        <h2>Signup</h2>
        <form id="signup-form">
            <div class="mb-3">
                <label for="username-signup" class="form-label">Username</label>
                <input type="text" class="form-control" id="username-signup" style="width: 360px">
            </div>
            <div class="mb-3">
                <label for="passowrd-signup" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-signup" style="width: 360px">
            </div>
            <button type="submit" class="btn btn-primary">signup</button>
        </form>
    </div>
</div>



<script src="/js/login.js"></script>